<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form
  class="row g-3"
  [formGroup]="novoUsuarioForm"
  (ngSubmit)="cadastrarNovoUsuario()"
>
  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="emailInput"
      placeholder="name@example.com"
      formControlName="email"
    />
    <label for="emailInput">Email</label>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.required &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="Email obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.email &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="Email inválido"
    ></app-mensagem>
  </div>

  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="nomeInput"
      placeholder="Nome completo"
      formControlName="fullName"
    />
    <label for="nomeInput">Nome Completo</label>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('fullName')?.errors &&
        novoUsuarioForm.get('fullName')?.touched
      "
      mensagem="Nome incorreto"
    ></app-mensagem>
  </div>

  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="usuarioInput"
      placeholder="Usuário"
      formControlName="userName"
    />
    <label for="usuarioInput">Usuário</label>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('userName')?.errors?.minusculo &&
        novoUsuarioForm.get('userName')?.touched
      "
      mensagem="Usuário deve ser letra minúscula"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('userName')?.errors?.maxlength &&
        novoUsuarioForm.get('userName')?.touched
      "
      mensagem="Usuário ter mais de 3 letras"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('userName')?.errors?.usuarioExistente &&
        novoUsuarioForm.get('userName')?.touched
      "
      mensagem="Usuário já existe"
    ></app-mensagem>
  </div>

  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="senhaInput"
      placeholder="Senha"
      formControlName="password"
    />
    <label for="senhaInput">Senha</label>
    <app-mensagem
    *ngIf="novoUsuarioForm.errors?.senhaIgualUsuario"
    mensagem="Senha deve ser diferente do usuário"
  >
  </app-mensagem>
  </div>

  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

<p>Já é um usuário! <a class="link-info" [routerLink]="['']">Faça Login</a></p>
