<header class="p-3 header-color">
  <div class="container">
    <div class="d-flex justify-content-between">
      <img class="float-start nav-logo" src="assets/images/aluraLogo.png" />

      <form class="col-6">
        <input
          type="search"
          class="form-control search-color text-white"
          placeholder="Busque por algo.."
          aria-label="Search"
        />
      </form>

      <div>
        <div class="d-block link-dark text-white">
          <img
            src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
          Cleber
        </div>
      </div>
    </div>
  </div>
</header>

<div class="d-flex justify-content-between">
  <div class="d-flex flex-column">
    <div class="container">
      <label class="text-white">Menu</label>
    </div>

    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link text-white" aria-current="page">
          <img src="assets/images/text-editor.png" width="30" height="30" />
          Editor de código
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link text-white" aria-current="page">
          <img src="assets/images/community.png" width="30" height="30" />
          Comunidade
        </a>
      </li>
    </ul>
  </div>

  <div class="d-flex flex-column">
    <div class="container">

      <label class="text-white">Seu Projeto</label>

      <form class="d-grid gap-3">
        <div class="form-floating">
          <input
            type="text"
            class="form-control text-white"
            id="nome-projeto"
            placeholder="nome projeto"
          />

          <label for="nome-projeto" class="form-label text-white"
            >Nome do seu projeto</label
          >
        </div>

        <div class="form-floating">
          <input
            type="text"
            class="form-control descricao-projeto text-white"
            id="descricao-projeto"
            placeholder="nome projeto"
          />
          <label for="descricao-projeto" class="form-label text-white"
            >Descrição do seu projeto</label
          >
        </div>
      </form>

      <label class="mt-3 text-white">Personalização</label>

      <div class="input-group">
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Selecione...</option>
          <option value="1">Java</option>
          <option value="2">C#</option>
          <option value="3">Angular</option>
        </select>
      </div>

    </div>
  </div>
</div>
